ClientSoap1/Connected Services/ServiceReference1/AtribuiCama2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:51601/Services/AtribuiCama.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RncciSolution.Models" />
  <xs:element name="GetCamaDisponivel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cod_unidade" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCamaDisponivelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/RncciSolution.Models" minOccurs="0" name="GetCamaDisponivelResult" nillable="true" type="q1:ArrayOfCama" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AtribuiCamaUtente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cod_cama" type="xs:int" />
        <xs:element minOccurs="0" name="cod_utente" type="xs:int" />
        <xs:element minOccurs="0" name="dataSaida" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AtribuiCamaUtenteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AtribuiCamaUtenteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>